{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>DataCo - Delivery Time Prediction</title>
	<meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
	<link rel="icon" href="{% static 'assets/img/icon.ico'%}" type="image/x-icon"/>
	<style>
		.switch {
		  position: relative;
		  display: inline-block;
		  width: 46px;
		  height: 20px;
		}
		
		.switch input { 
		  opacity: 0;
		  width: 0;
		  height: 0;
		}
		
		.slider {
		  position: absolute;
		  cursor: pointer;
		  top: 0;
		  left: 0;
		  right: 0;
		  bottom: 0;
		  background-color: #ccc;
		  -webkit-transition: .4s;
		  transition: .4s;
		}
		
		.slider:before {
		  position: absolute;
		  content: "";
		  height: 12px;
		  width: 12px;
		  left: 4px;
		  bottom: 4px;
		  background-color: white;
		  -webkit-transition: .4s;
		  transition: .4s;
		}
		
		input:checked + .slider {
		  background-color: #2196F3;
		}
		
		input:focus + .slider {
		  box-shadow: 0 0 1px #2196F3;
		}
		
		input:checked + .slider:before {
		  -webkit-transform: translateX(26px);
		  -ms-transform: translateX(26px);
		  transform: translateX(26px);
		}
		
		/* Rounded sliders */
		.slider.round {
		  border-radius: 34px;
		}
		
		.slider.round:before {
		  border-radius: 50%;
		}
		</style>

	<!-- Fonts and icons -->
	<script src="{% static 'assets/js/plugin/webfont/webfont.min.js'%}"></script>
	<script>
		WebFont.load({
			google: {"families":["Lato:300,400,700,900"]},
			custom: {"families":["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"], urls: ['../../assets/css/fonts.min.css']},
			active: function() {
				sessionStorage.fonts = true;
			}
		});
	</script>

	<!-- CSS Files -->
	<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/atlantis.min.css' %}">
	<!-- CSS Just for demo purpose, don't include it in your project -->
	<link rel="stylesheet" href="{% static 'assets/css/demo.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/loading.css' %}">
</head>
<body>
	<div class="wrapper sidebar_minimize">
		<div class="main-header">
			<!-- Navbar Header -->
			<nav class="navbar navbar-header navbar-expand-lg" data-background-color="blue2">			
				<div class="container-fluid">
					<ul class="navbar-nav topbar-nav align-items-center">
						<a href="../index.html" class="logo">
							<img style="height:40px" src="https://firebasestorage.googleapis.com/v0/b/gofooddatabase.appspot.com/o/HomePage%2Flogo.png?alt=media&token=08c673a4-67b8-43d4-bece-ff84510b0a8a" alt="navbar brand" class="navbar-brand">
						</a>
					</ul>
				</div>
			</nav>
			<!-- End Navbar -->
		</div>
		<!-- Sidebar -->
		<div class="sidebar sidebar-style-2">
			<div class="sidebar-wrapper scrollbar scrollbar-inner">
				<div class="sidebar-content">
					<ul class="nav nav-primary">
						<li class="nav-section">
							<span class="sidebar-mini-icon">
								<i class="fa fa-ellipsis-h"></i>
							</span>
							<h4 class="text-section">About Project</h4>
						</li>
						<li class="nav-item">
							<a data-toggle="collapse" href="https://www.google.com/">
								<i class="fas fa-layer-group"></i>
								<p>DataCo</p>
							</a>
						</li>
					</ul>
					<ul class="nav nav-primary">
						<li class="nav-section">
							<span class="sidebar-mini-icon">
								<i class="fa fa-ellipsis-h"></i>
							</span>
							<h4 class="text-section">Last update</h4>
						</li>
						<li class="nav-item">
							<a data-toggle="collapse" href="https://www.google.com/">
								<i class="fas fa-layer-group"></i>
								<p>11:31 05/06/2022</p>
							</a>
						</li>
					</ul>
					<ul class="nav nav-primary">
						<li class="nav-section">
							<span class="sidebar-mini-icon">
								<i class="fa fa-ellipsis-h"></i>
							</span>
							<h4 class="text-section">Authors and contact</h4>
						</li>
						<li class="nav-item">
							<a data-toggle="collapse" href="#base">
								<i class="fas fa-layer-group"></i>
								<p>Ta Quang Huy</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="base">
								<ul class="nav nav-collapse">
									<li>
										<a href="../components/avatars.html">
											<span class="sub-item">Phone: 0365990290</span>
										</a>
									</li>
									<li>
										<a href="../components/buttons.html">
											<span class="sub-item">qhuy.bh1901@gmail.com</span>
										</a>
									</li>
									
								</ul>
							</div>
						</li>
						<li class="nav-item">
							<a data-toggle="collapse" href="#sidebarLayouts">
								<i class="fas fa-th-list"></i>
								<p>Le Thi Hong Cuc</p>
								{% comment %} <span class="caret"></span> {% endcomment %}
							</a>
							{% comment %} <div class="collapse" id="sidebarLayouts">
								<ul class="nav nav-collapse">
									<li>
										<a href="../sidebar-style-1.html">
											<span class="sub-item">Sidebar Style 1</span>
										</a>
									</li>
								</ul>
							</div> {% endcomment %}
						</li>
						<li class="nav-item">
							<a data-toggle="collapse" href="#hi">
								<i class="fas fa-th-list"></i>
								<p>Nguyen Thi Thuy Nga</p>
							</a>
						</li>
						{% comment %} <li class="nav-item">
							<a data-toggle="collapse" href="#hi">
								<i class="fas fa-th-list"></i>
								<p>Ng. Anh Truong Thang</p>
							</a>
						</li> {% endcomment %}
					</ul>
				</div>
			</div>
		</div>
		<div class="main-panel">
			<div class="content">
				<div class="page-inner">
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-header">
									<div class="card-title">PREDICT SHIPPING TIME AND ESTIMATES LATE DELIVERY RISK SYSTEM</div>
								</div>
								<div class="card-body">
									<div class="row">
										<div class="col-md-6 col-lg-4">
											<div class="form-group form-inline">
												<label for="inlineinput" class="col-md-3 col-form-label">Order Date</label>
												<div class="col-md-9 p-0">
													<input type="date" id="Order_Date" name="birthday">
												</div>
											</div>
											<div class="form-group form-inline">
												<label for="inlineinput" class="col-md-3 col-form-label">Delivery Date</label>
												<div class="col-md-9 p-0">
													<input type="date" id="Delivery_Date" name="birthday">
												</div>
											</div>
											<div class="form-group">
												<label class="form-label">Payment Method</label>
												<div class="selectgroup w-100">
													<label class="selectgroup-item">
														<input type="radio" name="value1" value="DEBIT" id="RBG_DEBIT" class="selectgroup-input" checked="">
														<span class="selectgroup-button">DEBIT</span>
													</label>
													<label class="selectgroup-item">
														<input type="radio" name="value1" id="RBG_TRANSFER" value="TRANSFER" class="selectgroup-input">
														<span class="selectgroup-button">TRANSFER</span>
													</label>
													<label class="selectgroup-item">
														<input type="radio" name="value1" value="CASH" id="RBG_CASH" class="selectgroup-input">
														<span class="selectgroup-button">CASH</span>
													</label>
													<label class="selectgroup-item">
														<input type="radio" name="value1" value="PAYMENT" id="RBG_PAYMENT" class="selectgroup-input">
														<span class="selectgroup-button">PAYMENT</span>
													</label>
												</div>
											</div>
											<div class="form-group">
												<label class="form-label">Delivery Status</label>
												<div class="selectgroup selectgroup-pills">
													<label class="selectgroup-item">
														<input type="radio" name="value" value="Advance shipping" id ='Advance_shipping' class="selectgroup-input" checked="">
														<span class="selectgroup-button">Advance shipping</span>
													</label>
													<label class="selectgroup-item">
														<input type="radio" name="value" value="Late delivery" id ='Late_delivery' class="selectgroup-input">
														<span class="selectgroup-button">Late delivery</span>
													</label>
													<label class="selectgroup-item">
														<input type="radio" name="value" value="Shipping canceled" id ='Shipping_canceled' class="selectgroup-input">
														<span class="selectgroup-button">Shipping canceled</span>
													</label>
													<label class="selectgroup-item">
														<input type="radio" name="value" value="Shipping on time" id='Shipping _on_time' class="selectgroup-input">
														<span class="selectgroup-button">Shipping on time</span>
													</label>
												</div>
											</div>
										</div>
										<div class="col-md-6 col-lg-4">		
											<label class="mt-3 mb-3"><b>Customer Location</b></label>
											<div class="form-group form-floating-label">
												<select class="form-control input-border-bottom" id="Customer_State" required>
													<option value="">Customer State</option>
												</select>
												<!-- <label for="selectFloatingLabel" class="placeholder">Customer State</label> -->
											</div>

											<div class="form-group form-floating-label">
												<select class="form-control input-border-bottom" id="Customer_City" required>
													<option value="">Customer City</option>
												</select>
												<!-- <label for="selectFloatingLabel" class="placeholder">Customer City</label> -->
											</div>
											<label class="mt-3 mb-3"><b>Shipping Mode</b></label>
											<div class="form-group">
												<select class="form-control form-control" id="Shipping_Mode">
													<option>Standard Class</option>
													<option>First Class</option>
													<option>Second Class</option>
													<option>Same Day</option>
												</select>
											</div>
										</div>
										<div class="col-md-6 col-lg-4">
											<label class="mt-3 mb-3"><b>Order Location</b></label>
											<div class="form-group form-floating-label">
												<select class="form-control input-border-bottom" id="Order_Region" required>
													<option value="">Order Region</option>
												</select>
												<!-- <label for="selectFloatingLabel" class="placeholder">Order Region</label> -->
											</div>

											<div class="form-group form-floating-label">
												<select class="form-control input-border-bottom" id="Order_Country" required>
													<option value="">Order Country</option>
												</select>
												<!-- <label for="selectFloatingLabel" class="placeholder">Order Country</label> -->
											</div>

											<div class="form-group form-floating-label">
												<select class="form-control input-border-bottom" id="Order_State" required>
													<option value="">Order State</option>
												</select>
												<!-- <label for="selectFloatingLabel" class="placeholder">Order State</label> -->
											</div>

											<div class="form-group form-floating-label">
												<select class="form-control input-border-bottom" id="Order_City" required>
													<option value="">Order City</option>
												</select>
												<!-- <label for="selectFloatingLabel" class="placeholder">Order City</label> -->
											</div>
										</div>
									</div>
								</div>
								<div class="lds-roller" style="margin: auto;"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
								
								<div id="predict_result" style="margin:40px"></div>
								<div style="margin:20px"></div>
								<div class="card-action">
									<button class="btn btn-success" id="submit_btn" style="margin-right: 10px; width: 150px; font-weight: bold; float: right;">SUBMIT</button>
									{% comment %} <button class="btn btn-danger" id="clear_btn">CLEAR</button> {% endcomment %}
									<label class="switch"> 
										<input type="checkbox" id="showMultipleAlgorithms">
										<span class="slider round"></span>
									</label> 
									<p style="display:inline; margin-left:10px;font-size: 16px;">Show multiple algorithms and detail</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<footer class="footer">
				<div class="container-fluid">
					<nav class="pull-left">
						<ul class="nav">
							<li class="nav-item">
								<a class="nav-link" href="https://www.themekita.com">
									ThemeKita
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">
									Help
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">
									Licenses
								</a>
							</li>
						</ul>
					</nav>
					<div class="copyright ml-auto">
						2018, made with <i class="fa fa-heart heart text-danger"></i> by <a href="https://www.themekita.com">ThemeKita</a>
					</div>				
				</div>
			</footer>
		</div>
	</div>
	
	<!--   Core JS Files   -->
	<script src="{% static 'assets/js/core/jquery.3.2.1.min.js' %}"></script>
	<script src="{% static 'assets/js/core/popper.min.js' %}"></script>
	<script src="{% static 'assets/js/core/bootstrap.min.js' %}"></script>
	<!-- jQuery UI -->
	<script src="{% static 'assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js' %}"></script>
	<script src="{% static 'assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js' %}"></script>
	
	<!-- jQuery Scrollbar -->
	<script src="{% static 'assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js' %}"></script>
	<!-- Atlantis JS -->
	<script src="{% static 'assets/js/atlantis.min.js' %}"></script>
	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="{% static 'assets/js/setting-demo2.js' %}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="/static/assets/js/add_options.js"></script>
		<!-- select2 -->
		<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />	
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$('#clear_btn').click(()=>{
				$('#Order_Region').val('');
				$('#Order_State').val('');
				$('#Order_City').val('');
				$('#Order_Country').val('');
				console.log("test")
			})
			$(".form-control").select2({
  			tags: true
			});
			$('.lds-roller').hide();
			$('#predict_result').hide();
			$("#submit_btn").click( function()
			{
				$('.lds-roller').show();
				$('#predict_result').hide();
				var Order_Region = $('#Order_Region').val();
				var Order_State = $('#Order_State').val();
				var Order_City = $('#Order_City').val();
				var Order_Country = $('#Order_Country').val();
				var Customer_State = $('#Customer_State').val();
				var Customer_City = $('#Customer_City').val();
				var Shipping_Mode = $('#Shipping_Mode').val();
				var Payment_Method = 'DEBIT';
				var showMultipleAlgorithms = 0;
				if($('#showMultipleAlgorithms').is(":checked"))
					showMultipleAlgorithms = 1;
				if($('#RBG_TRANSFER').is(":checked"))
					Payment_Method = 'TRANSFER';
				if($('#RBG_CASH').is(":checked"))
					Payment_Method = 'CASH';
				if($('#RBG_PAYMENT').is(":checked"))
					Payment_Method = 'PAYMENT';
				var Order_Date = $('#Order_Date').val();
				var Delivery_Date = $('#Delivery_Date').val();
				var Delivery_Status = 'Advance shipping';
				if($('#Late_delivery').is(":checked"))
					Delivery_Status = 'Late delivery';
				if($('#Shipping_canceled').is(":checked"))
					Delivery_Status = 'Shipping canceled';
				if($('#Shipping_on_time').is(":checked"))
					Delivery_Status = 'Shipping on time';
				$.ajax({
					url: "{% url 'show_result' %}",
					methed:"GET",
					data:{'Order_City': Order_City, 'Order_Region':Order_Region, 'Order_Country':Order_Country, 'Delivery_Status':Delivery_Status,
					'Shipping_Mode':Shipping_Mode, 'Order_Date':Order_Date,'Delivery_Date':Delivery_Date,'Customer_State':Customer_State,
					'Customer_City':Customer_City, 'Order_State':Order_State, 'Payment_Method':Payment_Method, 'showMultipleAlgorithms':showMultipleAlgorithms },
					success:function(data)
					{
						$('#predict_result').show();
						$('#predict_result').html(data)
						$('.lds-roller').hide();
					},
					error:function(data)
					{
						alert('Please fill out all information before submitting');
						$('.lds-roller').hide();
					}
				});
			})
		});
	</script>
		
	
</body>
</html>